<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tutti Frutti</h1>
    <h2>Menu principal</h2>
    <h3>Seleccione su modo de juego</h3>

    <form method="post" action="/menu/solitario">
        <button type="submit">Solitario</button>
    </form>
    
    <form method="post" action="/menu/multijugador">
        <button type="submit" disabled="true">Multijugador</button>
    </form>

</body>
</html>